
.btn-dashboard {
    background-color: var(--lumo-primary-color);
    color: var(--lumo-primary-contrast-color);
    border-radius: 4px;
    font-size: 16px;

    padding: 105px 20px;
    width: 217px;
}


